.symbols {
    width: 200px;
    height: 200px;
    margin: 20px 30px;
}

#title,
#SymbolsDiv {
    margin: 0 auto;
}

body {
    background-image: url("../images/knight-3066217_edited.jpg");
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: 'MedievalSharp', cursive;
    text-align: center;
}

h1 {
    font-size: 40px;
    color: grey;
    text-align: center;
}

.column {
    float: left;
    width: 50%;
  }

#bgm {
    height: 1px;
    width: 1px;
}


#wins {
    color: rgb(0, 179, 0);
}

#losses {
    color: red;
}

#randomNumberBox,
#total {
    color: yellow;
}

#container {
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
